<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> RIW </title>
		<style type="text/css">
		body{
			margin:40px auto;
			max-width:650px;
			line-height:1.6;
			font-size:18px;
			padding:0 10px}
		h1,h2,h3{line-height:1.2}
		a:link{
			color:#000;
			text-decoration:none}
		a:visited{color:#000}
		</style>
	</head>

	<body>
		<div style="background:rgb(10, 174, 194);padding:4px 10px">
			<a href="/">RIW</a> |
			<a href="/stat">stats</a> |
			<a href="/percentile">percentile</a>
		</div>
		<h2>{{ .T }}</h2>
		<p>{{ .W }}</p>
		<h3>Authors</h3>
		<p>{{ .A }}</p>
		<h3>Publication date</h3>
		<p>{{ .B }}</p>
		<h3>Keywords</h3>
		<p>{{ .K }}</h3>
	</body>
</html>
