{{ define "topbar" }}
<div class="header" style="background:rgb(10, 174, 194);padding:4px 10px">
	<a href="/">RIW</a> |
	<a href="/stat">stats</a> |
	<a href="/percentile">percentile</a> |
	<a href="/perf">performances</a> |
	<a href="/qrels">qrels</a> |
	<a href="/precall">précision/rappel</a> |
	<a href="/archi">archi</a>
</div>
{{ end }}

{{ define "header" }}
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="favicon.ico" rel="shortcut icon" type="image/x-icon"/>
		<title> RIW </title>
		<style type="text/css">
		body{
			margin:40px auto;
			max-width:800px;
			line-height:1.6;
			font-size:18px;
			padding:0 10px}
		h1,h2,h3{line-height:1.2}
		.header a:link{
			color:#000;
			text-decoration:none}
		.header a:visited{color:#000}
		</style>
	</head>
{{ end }}
