{{ define "index" }}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="favicon.ico" rel="shortcut icon" type="image/x-icon"/>
		<title> RIW </title>
		<style type="text/css">
		body{
			margin:40px auto;
			max-width:800px;
			line-height:1.6;
			font-size:18px;
			padding:0 10px}
		a:link{
			color:#000;
			text-decoration:none}
		a:visited{color:#000}
		.res:link{color:#4B4B4B}
		.res:visited{color:#4B4B4B}
		h1,h2,h3{line-height:1.2}
		{{if .CS276 }}
		li{word-break: break-all}
		{{end}}
		</style>
	</head>

	<body>
		{{ template "topbar" }}
		<h2> Recherche </h2>
		<form action="/" method="GET">
			<div><input type="text" name="search" style="width:98.5%" value="{{.Query}}"></input></div>
			<input type="hidden" name="offset" value="0">
			<br>
			<div>
				<label for="CACM"> CACM</label>
				<input type="radio" name="corpus" value="cacm"
				       id="CACM" {{if not .CS276 }} checked {{end}}>
				<label for="cs276"> CS276</label>
				<input type="radio" name="corpus" value="cs276"
				       id="cs276" {{if .CS276 }} checked {{end}}> |

				<label for="Boolean"> Boolean</label>
				<input type="radio" name="type" value="boolean"
				       id="boolean" {{if not .Vectorial }} checked {{end}}>
				<label for="vectorial"> Vectorial</label>
				<input type="radio" name="type" value="vectorial"
				       id="vectorial" {{if .Vectorial }} checked {{end}}> |

				<select name="weight">
						<option value="brute" {{if eq (.Weight) ("raw") }} selected {{end}} >
							Fréquence brute
						</option>
						<option value="norm" {{if eq (.Weight) ("norm") }} selected {{end}} >
							Normalisation logarithmique
						</option>
						<option value="half" {{if eq (.Weight)  ("half") }} selected {{end}} >
							Normalisation par 0.5 et le max
						</option>
				</select>
				<input type="submit" value="Search 🚀" style="float:right;padding:1px 2px 3px;">
			</div>
		</form>

		{{ if .Time }}
		<h3>{{ .Size }} résultats trouvés en {{ .Time }}</h3>
		<ul>
			{{ range .Results }}
			<li><a class="res" href="{{ .Url }}">{{ .Name }}</a></li>
			{{end}}
		</ul>
		<div>
		<table width="100%" style="padding:2px;background:rgb(10, 174, 194)"><tr>
			{{ if .Prev }}
				<td style="padding-right:4px">
					<a href="{{ .Prev }}"> Previous </a>
				</td>
			{{end}}
			{{ if .Next }}
				<td style="text-align:right;padding-right:4px;">
					<a href="{{ .Next }}" style="text-align:right"> Next </a>
				 </td>
			{{end}}
		</tr></table>
		</div>
		{{end}}

	</body>
</html>
{{ end }}
