<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> RIW </title>
		<style type="text/css">
		body{
			margin:40px auto;
			max-width:650px;
			line-height:1.6;
			font-size:18px;
			color:#141414;
			padding:0 10px}
		h1,h2,h3{line-height:1.2}
		{{if .CS276 }}
		li{word-break: break-all}
		{{end}}
		</style>
	</head>

	<body>
		<h2> Recherche Info Web </h2>
		<p> Les statistiques sur les corpus sont <a href="/stat">ici</a>.<br>
		    Vous pouvez effectuer des recherches ci-dessous: </p> 
		<form action="/" method="POST">
			<div><input type="text" name="search" style="width:98.5%" value="{{.Query}}"></input></div>
			<br>
			<div>
				<label for="CACM"> CACM</label>
				<input type="radio" name="corpus" value="cacm" 
				       id="CACM" {{if not .CS276 }} checked {{end}}>
				<label for="cs276"> CS276</label>
				<input type="radio" name="corpus" value="cs276" 
				       id="cs276" {{if .CS276 }} checked {{end}}>
				<input type="submit" value="Search" style="float:right">
			</div>
		</form>

		{{ if .Time}}
		<h3>Résultats trouvé en {{ .Time }}</h3>
		<ul>
			{{ range .Results }}
			<li><a href="{{ .Url }}">{{ .Name }}</a></li>
			{{end}}
		</ul>
		{{end}}

	</body>
</html>
