{{ define "percentile" }}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="favicon.ico" rel="shortcut icon" type="image/x-icon"/>
		<title> RIW </title>
		<style type="text/css">
		body{
			margin:40px auto;
			max-width:800px;
			line-height:1.6;
			font-size:18px;
			padding:0 10px}
		a:link{
			color:#000;
			text-decoration:none}
		a:visited{color:#000}
		td{text-align:center}
		h1,h2,h3{line-height:1.2}
		</style>
	</head>

	<body>
		{{ template "topbar" }}
		<iframe width="800px" scrolling="no"
			src="https://p.datadoghq.com/sb/4af0e3f08-15deb57dbb"
			style="position: absolute; height: 100%; border: none; overflow: hidden;">
		</iframe>
	</body>
</html>
{{ end }}
