{{ define "precall" }}
<!DOCTYPE html>
<html>
	{{ template "header" }}
	<body>
		{{ template "topbar" }}
		<h2>Graphe moyenné pour CACM</h2>
		<img src="graphs/precision_recall/avg.svg" style="width:100%">
		<p> La moyenne est faite à rappel constant, sur l'ensemble des courbes de 
		<a href="/qrels">precision rappel</a>.
		Il convient de noter que comme la méthode utilisé est une interpolation linéaire assez basique,
		la valeur de la pertinence quand le rappel tends vers 0 est probablement sur estimé.
		</p>
		<table width="100%" cellspacing="0">
			<tr style="background:#EFEFEF">
				<th>Fonction de poids</th>
				<th>MAP</th>
			</tr>
			{{ range $i, $map := .MAP }}
			<tr>
				<td>{{ index $.Descrpt $i  }}</td>
				<td>{{ $map }}</td>
			</tr>
			{{ end }}
		</table>
	</body>
	<style type="text/css">
		td{text-align:center}
	</style>
</html>
{{ end }}
