{{ define "qrels" }}
<!DOCTYPE html>
<html>
	{{ template "header" }}
	<body>
		{{ template "topbar" }}
		<h3> Graphes de précision/rappel </h3>

		<div>
			<div style="display:flex;justify-content:space-between;align-items:center">
			<input type="button" onclick="plus(-1)" value="&#10094;" 
				style="height:30px;margin-right:10px;">
			{{ range .Queries }}
				<p class="query">{{ . }}</p>
			{{ end }}
			<input type="button" onclick="plus(1)" value="&#10095;" 
				style="height:30px;margin-left:10px;">
			</div>

			{{ range .Valids }}
				<img class="slides" src="graphs/precision_recall/{{ . }}.svg" style="width:100%;">
			{{ end }}

		</div>

		<script type="text/javascript">
			var Index = 1;
			show(Index);

			function plus(n) {
				show(Index += n);
			}

			document.addEventListener('keydown', function(event) {
				if(event.keyCode == 37) {
					plus(-1);
				} else if(event.keyCode == 39) {
					plus(1);
				}
			});

			function show(n) {
				var i;
				var slides = document.getElementsByClassName("slides");
				var queries = document.getElementsByClassName("query");
				if (n > slides.length) {Index = 1}
				if (n < 1) {Index = slides.length}
				for (i = 0; i < slides.length; i++) {
					slides[i].style.display = "none";
					queries[i].style.display = "none";
				}
				slides[Index-1].style.display = "block";
				queries[Index-1].style.display = "block";
			}
		</script>
	</body>
</html>
{{ end }}
