<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="favicon.ico" rel="shortcut icon" type="image/x-icon"/>
		<title> RIW </title>
		<style type="text/css">
		body{
			margin:40px auto;
			max-width:800px;
			line-height:1.6;
			font-size:18px;
			padding:0 10px}
		a:link{
			color:#000;
			text-decoration:none}
		a:visited{color:#000}
		td{text-align:center}
		h1,h2,h3{line-height:1.2}
		</style>
	</head>

	<body>
		<div style="background:rgb(10, 174, 194);padding:4px 10px">
			<a href="/">RIW</a> |
			<a href="/stat">stats</a> |
			<a href="/percentile">percentile</a> |
			<a href="/perf">performances</a>
		</div>
		<h3> Valeurs de la loi de HEAP </h3>

		<table width="100%" cellspacing="0">
			<tr style="background:#EFEFEF">
				<th>Corpus</th>
				<th>Taille du vocabulaire</th>
				<th>Nombre de tokens</th>
				<th>B</th>
				<th>K</th>
			</tr>
			{{ range . }}
			<tr>
				<td>{{ .Name }}</td>
				<td>{{ .Vocabulary }}</td>
				<td>{{ .Tokens }}</td>
				<td>{{ .B | printf "%.2f" }}</td>
				<td>{{ .K | printf "%.2f" }}</td>
			</tr>
			{{ end }}
		</table>

		<h3> Graphique de la loi de HEAP </h3>
		{{ range . }}
			<img src="/graphs/{{ .Name }}.svg" style="margin:auto;width:100%"
			alt="Heap law plot {{ .Name }}">
		{{ end }}
	</body>
</html>
