{{ define "stat" }}
<!DOCTYPE html>
<html>
	{{ template "header" }}
	<body>
		{{ template "topbar" }}
		<h3> Valeurs de la loi de HEAP </h3>

		<table width="100%" cellspacing="0">
			<tr style="background:#EFEFEF">
				<th>Corpus</th>
				<th>Taille du vocabulaire</th>
				<th>Nombre de tokens</th>
				<th>B</th>
				<th>K</th>
			</tr>
			{{ range . }}
			<tr>
				<td>{{ .Name }}</td>
				<td>{{ .Vocabulary }}</td>
				<td>{{ .Tokens }}</td>
				<td>{{ .B | printf "%.2f" }}</td>
				<td>{{ .K | printf "%.2f" }}</td>
			</tr>
			{{ end }}
		</table>

		<h3> Graphique de la loi de HEAP </h3>
		{{ range . }}
			<img src="/graphs/{{ .Name }}.svg" style="margin:auto;width:100%"
			alt="Heap law plot {{ .Name }}">
		{{ end }}
	</body>
</html>
{{ end }}
